<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#DB0000"/>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps</title>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        /* CSS code goes here */
    </style>
</head>
<body>
     <!-- Skip to content link -->
  <a href="#main-content" class="skip-to-content">Skip to Content</a>
  <!--Navigation-->
  <header>
    <div class="app-bar__menu">
      <button id="hamburgerButton" class="menu-icon" style="font-size: 30px; cursor: pointer" tabindex="0" >☰</button>
    </div>
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fast-food-restaurant-logo%2C-restaurant-logo-design-template-33255790cb8e1186b28609dd9afd4ee6_screen.jpg?ts=1668794604" alt="" />
    <nav id="navigationDrawer">
      <button id="closeButton" class="a-icon" style="font-size: 30px; cursor: pointer" tabindex="0">&times;</button>
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/like">Restoran Favorit</a></li>
          <li><a href="https://github.com/RifaldoMuttaqien?tab=repositories">About Us</a></li>
        </ul>
      </nav>
      
  </header>
  <!--Navigation-->

  <!--Jumbotron-->
  <div class="container">
    <div class="jumbotron">
      <h1>Menu Restoran Gading Mading</h1>
      <p>Restoran ini ter-enak dan ter-mantap dan bergizi semua pasti suka menu yang kami sajikan</p>
    </div>
  </div>
  <!--Jumbotron-->

  <!--Main-->
  <main id="mainContent" tabindex="0"></main>
  <!--Main-->

   <!--Footer Sosmed-->
   <footer>
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">About</h2>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/RifaldoMuttaqien?tab=repositories">About Us</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Dokumentasi</h2>
        <ul>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">ePayment</a></li>
          <li><a href="#">eBook</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Kontak</h2>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">Penjualan</a></li>
          <li><a href="#">Iklan</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Ikuti</h2>
        <p>Subscribe to our newsletter to get our latest news.</p>
        <form action="">
          <input type="email" name="email" placeholder="Masukkan Email Anda" />
          <input type="submit" value="Subscribe" />
        </form>
      </div>
    </section>
    <!--Footer Sosmed-->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </section>
 
    
  </footer>
<!--Footer Sosmed-->
</body>
</html>
